Repository AmbientRun/Ambient, pull requests merged in 2023-06, with the labels that each got.

#491 Non-owning message source methods
  guest/rust/api_core/src/message.rs
Labels: enhancement, api

#536 Update to wasmtime 10
  Cargo.lock
  Cargo.toml
  crates/sys/src/native/task.rs
  crates/sys/src/task.rs
  crates/wasm/Cargo.toml
  crates/wasm/build.rs
  crates/wasm/src/client/implementation/mod.rs
  crates/wasm/src/client/implementation/specific.rs
  crates/wasm/src/client/implementation/unused.rs
  crates/wasm/src/lib.rs
  crates/wasm/src/server/implementation/mod.rs
  crates/wasm/src/server/implementation/specific.rs
  crates/wasm/src/server/implementation/specific/physics.rs
  crates/wasm/src/server/implementation/unused.rs
  crates/wasm/src/shared/implementation/world_audio.rs
  crates/wasm/src/shared/module.rs
  crates/wasm/src/shared/wit.rs
  crates/wasm/wasi_snapshot_preview1.command.wasm
  crates/wasm/wit/asset.wit
  crates/wasm/wit/bindings.wit
  crates/wasm/wit/client-audio.wit
  crates/wasm/wit/client-camera.wit
  crates/wasm/wit/client-input.wit
  crates/wasm/wit/client-material.wit
  crates/wasm/wit/client-mesh.wit
  crates/wasm/wit/client-message.wit
  crates/wasm/wit/client-player.wit
  crates/wasm/wit/client-sampler.wit
  crates/wasm/wit/client-texture.wit
  crates/wasm/wit/client-window.wit
  crates/wasm/wit/component.wit
  crates/wasm/wit/entity.wit
  crates/wasm/wit/guest.wit
  crates/wasm/wit/main.wit
  crates/wasm/wit/message.wit
  crates/wasm/wit/player.wit
  crates/wasm/wit/server-asset.wit
  crates/wasm/wit/server-message.wit
  crates/wasm/wit/server-physics.wit
  crates/wasm/wit/types.wit
  crates/wasm/wit/world-audio.wit
  docs/src/community/contributing.md
  guest/rust/Cargo.lock
  guest/rust/Cargo.toml
  guest/rust/api_core/src/internal/bindings.rs
  guest/rust/api_core/src/internal/mod.rs
  guest/rust/api_core/src/internal/wit.rs
  web/Cargo.lock
Labels: topic:api

#552 Split `time` into `absolute_game_time` and `absolute_epoch_time`
  CHANGELOG.md
  app/src/client/wasm.rs
  app/src/server/mod.rs
  crates/animation/src/player.rs
  crates/app/src/lib.rs
  crates/core/src/lib.rs
  crates/network/src/native/server.rs
  crates/network/src/server.rs
  crates/physics/examples/physics.rs
  crates/physics/src/helpers.rs
  crates/physics/src/lib.rs
  crates/sys/src/native/time.rs
  crates/sys/src/wasm/time.rs
  guest/rust/api_core/src/animation.rs
  guest/rust/api_core/src/global/runtime.rs
  guest/rust/clippy.toml
  guest/rust/examples/basics/asset_loading/src/server.rs
  guest/rust/examples/basics/async/src/common.rs
  guest/rust/examples/basics/clientside/src/client.rs
  guest/rust/examples/games/minigolf/src/server.rs
  guest/rust/examples/games/music_sequencer/src/client.rs
  guest/rust/examples/ui/clock/src/client.rs
  guest/rust/examples/ui/todo/src/server.rs
  shared_crates/schema/src/schema/app_.toml
Labels: topic:api, meta:breaking change
